@media only screen and (min-width: 320px) and (max-width: 480px){
    .container{
        max-width: 490px;
    }
}
@media only screen and  (max-width: 590px){
    .page-wr{
        margin-bottom: -480px;
        &:after{
            height: 480px;
        }
    }

    .footer{
        height: 480px;
        .footer-col-l{
            display: none;
        }
        .footer-col-r{
            float: none;
            width: auto;
            text-align: center;
        }
    }
    .footer-address,
    .work-hourst{
        float: none;
    }
    .footer-address{
        max-width: 100%;
        padding-left: 0;
    }
    .work-hourst{
        max-width: 290px;
        margin: 0 auto;
        position: relative;
        left: -25px;
        .footer-title{
        	text-align: left;
        }
    }
    .fluid-col{
        position: relative;
        padding-top: 60px;
    }
    .fluid-col.__bottom{
        left: auto;
        bottom: auto;
    }
    .copyright{
        padding-top: 30px;
    }
}


// @media only screen and  (max-width: 700px){
//     .footer > .container{
//         padding: 0 20px;
//     }
// }
@media only screen and (max-width: 699px){

    .head-phone{
        font-size: 18px;
    }
    .table .__cell-logo{
        width: 95px;
    }
    .logotype{
        width: 75px;
    }
    .btn-mobile-menu{
        width: 40px;
        height: 40px;
        &:before, &:after{
            width: 19px;
        }
    }
}

@media only screen and  (max-width: 720px){
	.socialbox-mini{
		display: none;
	}
	.btn-schedule{
		width: 20px;
		overflow: hidden;
		padding-left: 0;
		text-indent: 9999px;
	}
    .preheader{
    	.table_cell{
    		&:first-child{
    			width: auto;
    		}
    		
    	}
    }
    .head-address{
    	width: auto;
    	padding-left: 10px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .container{
        max-width: 740px;
    }
}
@media only screen and (min-width: 721px) and (max-width: 769px){
    .preheader{
    	.table_cell{
    		&:first-child{
    			width: 35%;
    		}
    		
    	}
    }
    .head-address{
    	width: 70%;
    }
}
@media only screen and (max-width: 769px){
    .socialbox-mini{
    	padding-left: 0;
    }
}

@media only screen and (min-width: 700px) and (max-width: 900px){
    .header .table_cell{
        width: 33%;
    }
    .table{
        .__cell-phone{
            text-align: center;
        }
    }
}
@media only screen and (max-width: 900px){

    .table{
        .__cell-nav{
            height: 100%;
            position: relative;
        }
    }

    .main-nav, .main-nav_list, .main-nav_list li{
        display: block;
    }
    .main-nav{
        display: none;
        position: absolute;
        top: 0;
        right: -20px;
        width: 200px;
        text-align: left;
        background: $default-theme;
        z-index: 5;
    }
    .main-nav_list{
        background: $default-theme;
        color: #fff;
        padding: 95px 0 30px 10px;
        li{
            line-height: 1.8;
        }
        li a{
            text-transform: none;
            color: #fff;
        }
        li:hover, li.__active{
            background: #fff;
            a{
                color: $primary-txt;
            }
        }
    }

    .btn-mobile-menu{
        display: block;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1200px){
    .container,
    .copyright{
        max-width: 992px;
    }

}
@media only screen and (min-width: 700px) and (max-width: 1200px){
    .head-phone{
        font-size: 20px;
    }
}
@media only screen and (min-width: 591px) and (max-width: 1200px){
    .footer{
        .footer-col-l,
        .footer-col-r{
            width: 50%;
        }
        .footer-col-r{
            float: right;
        }
    }
    .copyright{
        position: absolute;
        bottom: 33px;
        left: 0;
        right: 0;
        margin: auto;
    }

}
@media only screen and (min-width: 700px) and (max-width: 1200px){
    .table .__cell-logo{
        width: 158px;
    }
    .logotype{
        width: 130px;
    }
}
@media only screen and (max-width: 1200px){
    body{
        font-size: 14px;
    }
    .footer{
        position: relative;
        padding-bottom: 65px;
        font-size: 14px;
        .footer-col-m{
            display: none;
        }
    }
    .footer-title,
    .footer-address{
        font-size: 18px;
    }
    .main-nav_list li a{
        font-size: 14px;
        padding: 0 10px;
    }
}


@media only screen and (min-width: 1201px) and (max-width: 1368px){
    body{
        font-size: 16px;
    }
    .container{
        max-width: 1264px;
    }
    .footer-title,
    .footer-address{
        font-size: 20px;
    }
}


@media only screen and (min-width: 1369px) and (max-width: 1600px){
    .container{
        max-width: 1490px;
    }

    .footer{
        padding-top: 60px;
    }
}

@media only screen and (max-width: 1600px){

    .preheader .container, 
    .header{
        padding: 0 20px;
    }

}
