/* color palette
-----------------------------------------------------------------------------*/
$white: #fff;
$black: #000;
$black-lighter: #252525;
$gray: #727272;
$gray-lighter: #727272;
$light-gray: #a4a4a4;
$orange: #eb6e1e;
$blue: #3598db;
$green: #86c341;
$red: #e84c3d;


/* theme template 
-----------------------------------------------------------------------------*/
$color-body: $white;
$color-footer: $black-lighter;
$color-preheader: $color-footer;

$default-theme: $orange;
$blue-theme: $blue;
$green-theme: $green;
$red-theme: $red;

/* text
-----------------------------------------------------------------------------*/
$primary-txt: $black;
$secondary-txt: $gray;
$accent-txt: $white;




