@charset "UTF-8";
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* color palette
-----------------------------------------------------------------------------*/
/* theme template 
-----------------------------------------------------------------------------*/
/* text
-----------------------------------------------------------------------------*/
/* Generated by ParaType Ltd (http://www.paratype.com)*/
/* Font PT Serif:  Copyright ┬й 2010 ParaType Ltd. All rights reserved.*/
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/ptsans/pts55f_w.eot");
  src: local("PT Sans"), url("../fonts/ptsans/PTS55F_W.eot?#iefix") format("embedded-opentype"), url("../fonts/ptsans/PTS55F_W.woff") format("woff"), url("../fonts/ptsans/PTS55F_W.ttf") format("truetype"), url("../fonts/ptsans/PTS55F_W.svg#PTSans-Regular") format("svg"); }
.container, .copyright {
  max-width: 1680px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px; }

/* float grid
-----------------------------------------------------------------------------*/
.row {
  position: relative; }
  .row:after {
    content: "";
    display: table;
    width: 100%;
    clear: both; }

.col {
  float: left; }

.col.__m {
  width: 50%;
  padding-left: 9px; }
  .col.__m:first-child {
    padding-left: 0;
    padding-right: 9px; }

.col.__s {
  width: 33%; }

.col.__xs {
  width: 25%; }

.col.__xxs {
  width: 20%; }

.col.__single {
  float: none;
  margin: 0 auto;
  clear: both; }

.fluid-col {
  clear: both;
  position: absolute; }

.fluid-col.__bottom {
  bottom: 0;
  left: 0; }

/* inline grid
-----------------------------------------------------------------------------*/
.row.__row-inline {
  font-size: 0; }
  .row.__row-inline:after {
    display: none; }
  .row.__row-inline .col {
    float: none;
    display: inline-block;
    vertical-align: top;
    font-size: 18px; }

/* table grid
-----------------------------------------------------------------------------*/
.table {
  display: table;
  width: 100%; }
  .table .table_row {
    display: table-row; }
  .table .table_cell {
    display: table-cell;
    vertical-align: middle; }
  .table .__cell-logo {
    width: 168px; }
  .table .__cell-nav {
    height: 110px;
    text-align: right; }

/*---------------------------------------------------------------------------*/
.to-right {
  float: right; }

.to-left {
  float: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.responsive-img {
  max-width: 100%;
  width: 100%; }

*,
*:after,
*:before {
  box-sizing: border-box; }

* {
  margin: 0; }

body,
html {
  padding: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: normal;
  line-height: normal; }

body {
  margin: 0 auto;
  background: #fff;
  min-width: 320px;
  font-size: 18px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.clearfix:after {
  display: table;
  content: "";
  clear: both; }

.is-visible {
  opacity: 1;
  visibility: visible; }

.is-hidden {
  opacity: 0;
  visibility: hidden; }

/* footer
-----------------------------------------------------------------------------*/
.page-wr {
  min-height: 100%;
  margin-bottom: -570px;
  padding-bottom: 100px; }
  .page-wr:after {
    display: block;
    content: ""; }

.page-wr:after,
.footer {
  height: 570px; }

.footer {
  background: #252525;
  color: #fff;
  padding-top: 70px; }
  .footer .footer-col-l {
    width: 33%; }
  .footer .footer-col-m {
    width: 33%; }
  .footer .footer-col-r {
    width: 33%; }

.footer-title {
  font-size: 24px;
  line-height: 30px;
  color: #a4a4a4;
  padding-bottom: 5px; }

.footer-nav_list {
  padding: 22px 30px 30px 0;
  border-top: 1px solid #eb6e1e;
  display: inline-block; }
  .footer-nav_list .footer-nav_i {
    line-height: 30px; }
    .footer-nav_list .footer-nav_i a:hover {
      border-bottom: 1px solid #eb6e1e; }
  .footer-nav_list a {
    color: #fff; }

.copyright {
  padding: 25px 0 0; }

.widget {
  padding: 15px 0 45px;
  max-width: 400px;
  overflow: hidden; }

.socialbox {
  text-align: center;
  font-size: 0;
  min-width: 400px; }
  .socialbox .socialbox_i {
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    height: 26px;
    background: url(../img/1920/images/soc.png) 0 0 no-repeat;
    margin: 0 12px;
    -webkit-transition: opacity 0.2s ease-in;
            transition: opacity 0.2s ease-in; }
    .socialbox .socialbox_i:hover {
      opacity: 0.6; }
  .socialbox .socialbox_i.__tw {
    background-position: -5px -61px;
    width: 30px; }
  .socialbox .socialbox_i.__fb {
    background-position: -40px -60px;
    width: 12px; }
  .socialbox .socialbox_i.__vk {
    background-position: -55px -60px;
    width: 24px; }

.footer-address {
  float: right;
  width: 100%;
  max-width: 340px;
  padding-left: 22px;
  font-size: 24px;
  padding-bottom: 60px; }
  .footer-address:after {
    display: table;
    clear: both;
    content: "";
    width: 100%; }
  .footer-address p {
    padding-bottom: 10px; }
  .footer-address .phone-link {
    text-decoration: none;
    color: #fff; }

.work-hourst {
  float: right;
  width: 100%;
  max-width: 340px;
  padding-left: 22px;
  border-left: 1px solid #eb6e1e; }
  .work-hourst:after {
    display: table;
    clear: both;
    content: "";
    width: 100%; }
  .work-hourst .row {
    padding: 5px 0; }
  .work-hourst .col:first-child {
    max-width: 60%; }
  .work-hourst .col:nth-child(2) {
    max-width: 35%; }

/* preheader
-----------------------------------------------------------------------------*/
.preheader {
  background: #252525;
  color: #fff;
  padding: 8px 0 10px; }
  .preheader .container, .preheader .copyright {
    padding: 0 50px; }
  .preheader .table_cell {
    text-align: right; }
    .preheader .table_cell:first-child {
      text-align: left; }

.socialbox-mini {
  font-size: 0;
  min-width: 75px;
  padding: 2px 0 2px 50px;
  display: inline-block;
  vertical-align: middle; }
  .socialbox-mini .socialbox_i {
    vertical-align: top;
    display: inline-block;
    text-decoration: none;
    height: 16px;
    background-image: url(../img/1920/images/soc.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    margin: 0 12px;
    -webkit-transition: opacity 0.2s ease-in;
            transition: opacity 0.2s ease-in; }
    .socialbox-mini .socialbox_i:hover {
      opacity: 0.6; }
  .socialbox-mini .socialbox_i.__tw {
    background-position: 0 0;
    width: 20px; }
  .socialbox-mini .socialbox_i.__fb {
    background-position: -25px 0;
    width: 8px; }
  .socialbox-mini .socialbox_i.__vk {
    background-position: -36px 0;
    width: 11px; }

.head-address {
  vertical-align: middle;
  display: inline-block;
  padding-left: 50px; }

/* header
-----------------------------------------------------------------------------*/
.header {
  padding: 0 50px;
  min-height: 110px; }

.logotype {
  max-width: 140px;
  margin: 10px 0; }

.head-phone {
  display: inline-block;
  padding-top: 4px;
  font-size: 24px; }
  .head-phone a {
    color: #000; }

.main-nav {
  display: inline-table;
  height: 100%; }

.main-nav_list {
  display: table-row; }
  .main-nav_list li {
    display: table-cell;
    vertical-align: middle; }
    .main-nav_list li a {
      padding: 5px 15px;
      font-size: 16px;
      text-transform: uppercase;
      color: #000; }
  .main-nav_list li:hover,
  .main-nav_list li.__active {
    background: #eb6e1e; }
    .main-nav_list li:hover a,
    .main-nav_list li.__active a {
      color: #ffffff; }

/* main slider
-----------------------------------------------------------------------------*/
.main-slider {
  margin-bottom: 90px; }
  .main-slider .col.__captions {
    width: 29.6875%;
    overflow: hidden;
    background: #eb6e1e;
    vertical-align: middle;
    color: #fff; }
  .main-slider .col.__slider {
    width: 70.3125%; }

.no-js .bx-slider:after {
  content: "";
  display: table;
  clear: both; }
.no-js .bx-slider li:not(:first-child) {
  display: none; }
.no-js .bx-slider img {
  max-width: 100%; }

.bx-captions {
  overflow: hidden;
  position: relative;
  text-align: center;
  height: 100%; }
  .bx-captions .bx-captions_i {
    display: table;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: #eb6e1e;
    position: absolute;
    top: 0;
    left: 0; }
  .bx-captions .bx-captions_row {
    display: table-row; }
  .bx-captions .bx-captions_col {
    display: table-cell;
    vertical-align: middle; }
  .bx-captions .txt-section-1 {
    padding: 45px 80px 30px;
    position: relative;
    font-size: 48px;
    line-height: 1.2; }
    .bx-captions .txt-section-1:after, .bx-captions .txt-section-1:before {
      content: "";
      width: 270px;
      height: 5px;
      display: block;
      background: #fff;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto; }
    .bx-captions .txt-section-1:before {
      top: 0; }
    .bx-captions .txt-section-1:after {
      bottom: 0; }
  .bx-captions .sale-txt {
    font-size: 90px;
    line-height: 1.2;
    padding: 15px 0; }
  .bx-captions .txt-section-2 {
    font-size: 24px;
    padding: 25px 0 0; }
    .bx-captions .txt-section-2 p {
      padding-bottom: 12px; }
  .bx-captions .caption-prim {
    font-size: 18px; }

/* guest-card
-----------------------------------------------------------------------------*/
.guest-card {
  border: 1px solid #939393;
  background: url(../img/1920/images/visit_right.png) no-repeat 100% 0, url(../img/1920/images/visit_left.png) no-repeat 0 100%;
  height: 408px;
  padding: 65px 28px;
  font-size: 48px;
  line-height: 1.1; }
  .guest-card .btn-colored {
    margin: 60px 0 0 105px; }

/* slider cards
-----------------------------------------------------------------------------*/
.slider-cards .bx-wrapper .bx-pager {
  bottom: -10px; }
.slider-cards .bx-wrapper .bx-pager.bx-default-pager a {
  border-color: #000 !important;
  width: 28px;
  height: 7px;
  margin: 0 2px; }
.slider-cards .bx-wrapper .bx-pager.bx-default-pager a:hover, .slider-cards .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000 !important; }
.slider-cards .bx-wrapper .bx-controls-direction a {
  top: 8%;
  width: 49px;
  height: 49px; }
.slider-cards .bx-wrapper .bx-prev {
  left: auto;
  right: 67px; }
.slider-cards .bx-wrapper .bx-next {
  right: 20px; }
.slider-cards .bx-wrapper .bx-controls-direction a:hover {
  background: #fff !important;
  border-color: #fff !important; }
.slider-cards .bx-wrapper .bx-prev:hover:after {
  background-position: 0 -120px !important; }
.slider-cards .bx-wrapper .bx-next:hover:after {
  background-position: -27px -120px !important; }

.club-card {
  position: relative;
  background: #eb6e1e;
  height: 432px;
  border-bottom: 30px solid #fff; }
  .club-card .fluid-img {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px; }
  .club-card .club-card_txt {
    position: relative;
    z-index: 1;
    padding: 65px 28px 60px;
    height: 100%; }
    .club-card .club-card_txt .btn-default {
      margin: 48px 0 0 100px; }
  .club-card .club-card_t {
    font-size: 30px;
    line-height: 1.5; }
    .club-card .club-card_t span {
      font-size: 48px;
      color: #fff; }
  .club-card .all-cards {
    display: inline-block;
    position: absolute;
    left: 55px;
    bottom: 30px;
    color: #000;
    text-transform: lowercase;
    padding-right: 20px;
    z-index: 3; }
    .club-card .all-cards:after {
      content: "";
      position: absolute;
      right: 0;
      top: 7px;
      display: block;
      width: 10px;
      height: 10px;
      background: url(../img/1920/images/arrows_control.png) no-repeat 0 -148px; }
    .club-card .all-cards:hover {
      text-decoration: underline; }

/* inline buttons
-----------------------------------------------------------------------------*/
.btn-inline {
  background: none;
  padding: 0;
  border: medium none;
  text-decoration: underline;
  display: inline-block; }
  .btn-inline:hover {
    text-decoration: none; }
  .btn-inline:before, .btn-inline:after {
    content: "";
    display: inline-block;
    vertical-align: top; }

.btn-hold-card {
  color: #fff; }
  .btn-hold-card:before {
    width: 30px;
    height: 22px;
    background: url(../img/1920/images/elements.png) no-repeat -88px -2px;
    margin-right: 5px; }

.btn-schedule {
  position: relative;
  background: none;
  padding: 0;
  border: medium none;
  display: inline-block;
  text-decoration: none;
  padding-left: 45px;
  line-height: 20px; }
  .btn-schedule:hover {
    text-decoration: underline; }
  .btn-schedule:before {
    content: "";
    background-image: url(../img/1920/images/elements.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    left: 0;
    top: 0; }

.btn-mobile-menu {
  z-index: 10;
  display: none;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  background: #eb6e1e;
  position: absolute;
  right: 0px;
  top: 20px;
  cursor: pointer;
  outline: none; }
  .btn-mobile-menu:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 20px;
    height: 4px;
    background: #fff; }
  .btn-mobile-menu:before {
    content: "";
    display: block;
    position: absolute;
    height: 16px;
    width: 20px;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto; }

.btn-default {
  background: none;
  display: inline-block;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  padding: 5px;
  border: 2px solid #fff;
  line-height: 1.1; }
  .btn-default span {
    background: #fff;
    display: inline-block;
    padding: 5px 25px; }
  .btn-default:hover {
    background: #fff; }

.read-more {
  margin: 25px 0 0; }

.btn-colored {
  background: none;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  padding: 5px;
  border: 2px solid #eb6e1e;
  line-height: 1.1; }
  .btn-colored span {
    background: #eb6e1e;
    display: inline-block;
    padding: 5px 25px; }
  .btn-colored:hover {
    background: #eb6e1e; }

/* blue theme
-----------------------------------------------------------------------------*/
.blue-theme .footer-nav_list {
  border-color: #3598db; }
  .blue-theme .footer-nav_list a:hover {
    border-bottom: 1px solid #3598db; }
.blue-theme .work-hourst {
  border-color: #3598db; }
.blue-theme .socialbox .socialbox_i.__tw {
  background-position: -5px -149px; }
.blue-theme .socialbox .socialbox_i.__fb {
  background-position: -40px -149px; }
.blue-theme .socialbox .socialbox_i.__vk {
  background-position: -55px -149px; }
.blue-theme .btn-hold-card:before {
  background-position: -88px -50px; }
.blue-theme .btn-colored {
  border-color: #3598db; }
  .blue-theme .btn-colored span {
    background: #3598db; }
  .blue-theme .btn-colored:hover {
    background: #3598db; }
.blue-theme .main-nav_list li:hover, .blue-theme .main-nav_list li.__active {
  background: #3598db; }
.blue-theme .main-slider .col.__captions {
  background: #3598db; }
.blue-theme .bx-wrapper .bx-prev:hover:after {
  background-position: 0 -48px; }
.blue-theme .bx-wrapper .bx-next:hover:after {
  background-position: -27px -48px; }
.blue-theme .bx-wrapper .bx-controls-direction a:hover,
.blue-theme .bx-wrapper .bx-pager.bx-default-pager a {
  border-color: #3598db; }
.blue-theme .bx-wrapper .bx-pager.bx-default-pager a:hover,
.blue-theme .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #3598db; }
.blue-theme .club-card {
  background: #3598db; }

@media only screen and (max-width: 900px) {
  .blue-theme .main-nav {
    background: #3598db; }
  .blue-theme .main-nav_list {
    background: #3598db;
    color: #fff; } }
/* green theme
-----------------------------------------------------------------------------*/
.green-theme .footer-nav_list {
  border-color: #86c341; }
  .green-theme .footer-nav_list a:hover {
    border-bottom: 1px solid #86c341; }
.green-theme .work-hourst {
  border-color: #86c341; }
.green-theme .socialbox .socialbox_i.__tw {
  background-position: -5px -119px; }
.green-theme .socialbox .socialbox_i.__fb {
  background-position: -40px -119px; }
.green-theme .socialbox .socialbox_i.__vk {
  background-position: -55px -119px; }
.green-theme .btn-hold-card:before {
  background-position: -88px -27px; }
.green-theme .btn-colored {
  border-color: #86c341; }
  .green-theme .btn-colored span {
    background: #86c341; }
  .green-theme .btn-colored:hover {
    background: #86c341; }
.green-theme .main-nav_list li:hover, .green-theme .main-nav_list li.__active {
  background: #86c341; }
.green-theme .main-slider .col.__captions {
  background: #86c341; }
.green-theme .bx-wrapper .bx-prev:hover:after {
  background-position: 0 -24px; }
.green-theme .bx-wrapper .bx-next:hover:after {
  background-position: -27px -24px; }
.green-theme .bx-wrapper .bx-controls-direction a:hover,
.green-theme .bx-wrapper .bx-pager.bx-default-pager a {
  border-color: #86c341; }
.green-theme .bx-wrapper .bx-pager.bx-default-pager a:hover,
.green-theme .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #86c341; }
.green-theme .club-card {
  background: #86c341; }

@media only screen and (max-width: 900px) {
  .green-theme .main-nav {
    background: #86c341; }
  .green-theme .main-nav_list {
    background: #86c341;
    color: #fff; } }
/* red theme
-----------------------------------------------------------------------------*/
.red-theme .footer-nav_list {
  border-color: #e84c3d; }
  .red-theme .footer-nav_list a:hover {
    border-bottom: 1px solid #e84c3d; }
.red-theme .work-hourst {
  border-color: #e84c3d; }
.red-theme .socialbox .socialbox_i.__tw {
  background-position: -5px -182px; }
.red-theme .socialbox .socialbox_i.__fb {
  background-position: -40px -182px; }
.red-theme .socialbox .socialbox_i.__vk {
  background-position: -55px -182px; }
.red-theme .btn-hold-card:before {
  background-position: -88px -72px; }
.red-theme .btn-colored {
  border-color: #e84c3d; }
  .red-theme .btn-colored span {
    background: #e84c3d; }
  .red-theme .btn-colored:hover {
    background: #e84c3d; }
.red-theme .main-nav_list li:hover, .red-theme .main-nav_list li.__active {
  background: #e84c3d; }
.red-theme .main-slider .col.__captions {
  background: #e84c3d; }
.red-theme .bx-wrapper .bx-prev:hover:after {
  background-position: 0 -72px; }
.red-theme .bx-wrapper .bx-next:hover:after {
  background-position: -27px -72px; }
.red-theme .bx-wrapper .bx-controls-direction a:hover,
.red-theme .bx-wrapper .bx-pager.bx-default-pager a {
  border-color: #e84c3d; }
.red-theme .bx-wrapper .bx-pager.bx-default-pager a:hover,
.red-theme .bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #e84c3d; }
.red-theme .club-card {
  background: #e84c3d; }

@media only screen and (max-width: 900px) {
  .red-theme .main-nav {
    background: #e84c3d; }
  .red-theme .main-nav_list {
    background: #e84c3d;
    color: #fff; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .container, .copyright {
    max-width: 490px; } }
@media only screen and (max-width: 590px) {
  .page-wr {
    margin-bottom: -480px; }
    .page-wr:after {
      height: 480px; }

  .footer {
    height: 480px; }
    .footer .footer-col-l {
      display: none; }
    .footer .footer-col-r {
      float: none;
      width: auto;
      text-align: center; }

  .footer-address,
  .work-hourst {
    float: none; }

  .footer-address {
    max-width: 100%;
    padding-left: 0; }

  .work-hourst {
    max-width: 290px;
    margin: 0 auto;
    position: relative;
    left: -25px; }
    .work-hourst .footer-title {
      text-align: left; }

  .fluid-col {
    position: relative;
    padding-top: 60px; }

  .fluid-col.__bottom {
    left: auto;
    bottom: auto; }

  .copyright {
    padding-top: 30px; } }
@media only screen and (max-width: 699px) {
  .head-phone {
    font-size: 18px; }

  .table .__cell-logo {
    width: 95px; }

  .logotype {
    width: 75px; }

  .btn-mobile-menu {
    width: 40px;
    height: 40px; }
    .btn-mobile-menu:before, .btn-mobile-menu:after {
      width: 19px; } }
@media only screen and (max-width: 720px) {
  .socialbox-mini {
    display: none; }

  .btn-schedule {
    width: 20px;
    overflow: hidden;
    padding-left: 0;
    text-indent: 9999px; }

  .preheader .table_cell:first-child {
    width: auto; }

  .head-address {
    width: auto;
    padding-left: 10px; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .container, .copyright {
    max-width: 740px; } }
@media only screen and (min-width: 721px) and (max-width: 769px) {
  .preheader .table_cell:first-child {
    width: 35%; }

  .head-address {
    width: 70%; } }
@media only screen and (max-width: 769px) {
  .socialbox-mini {
    padding-left: 0; } }
@media only screen and (min-width: 700px) and (max-width: 900px) {
  .header .table_cell {
    width: 33%; }

  .table .__cell-phone {
    text-align: center; } }
@media only screen and (max-width: 900px) {
  .table .__cell-nav {
    height: 100%;
    position: relative; }

  .main-nav, .main-nav_list, .main-nav_list li {
    display: block; }

  .main-nav {
    display: none;
    position: absolute;
    top: 0;
    right: -20px;
    width: 200px;
    text-align: left;
    background: #eb6e1e;
    z-index: 5; }

  .main-nav_list {
    background: #eb6e1e;
    color: #fff;
    padding: 95px 0 30px 10px; }
    .main-nav_list li {
      line-height: 1.8; }
    .main-nav_list li a {
      text-transform: none;
      color: #fff; }
    .main-nav_list li:hover, .main-nav_list li.__active {
      background: #fff; }
      .main-nav_list li:hover a, .main-nav_list li.__active a {
        color: #000; }

  .btn-mobile-menu {
    display: block; } }
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .container, .copyright,
  .copyright {
    max-width: 992px; } }
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .head-phone {
    font-size: 20px; } }
@media only screen and (min-width: 591px) and (max-width: 1200px) {
  .footer .footer-col-l,
  .footer .footer-col-r {
    width: 50%; }
  .footer .footer-col-r {
    float: right; }

  .copyright {
    position: absolute;
    bottom: 33px;
    left: 0;
    right: 0;
    margin: auto; } }
@media only screen and (min-width: 700px) and (max-width: 1200px) {
  .table .__cell-logo {
    width: 158px; }

  .logotype {
    width: 130px; } }
@media only screen and (max-width: 1200px) {
  body {
    font-size: 14px; }

  .footer {
    position: relative;
    padding-bottom: 65px;
    font-size: 14px; }
    .footer .footer-col-m {
      display: none; }

  .footer-title,
  .footer-address {
    font-size: 18px; }

  .main-nav_list li a {
    font-size: 14px;
    padding: 0 10px; } }
@media only screen and (min-width: 1201px) and (max-width: 1368px) {
  body {
    font-size: 16px; }

  .container, .copyright {
    max-width: 1264px; }

  .footer-title,
  .footer-address {
    font-size: 20px; } }
@media only screen and (min-width: 1369px) and (max-width: 1600px) {
  .container, .copyright {
    max-width: 1490px; }

  .footer {
    padding-top: 60px; } }
@media only screen and (max-width: 1600px) {
  .preheader .container, .preheader .copyright,
  .header {
    padding: 0 20px; } }
