*,
*:after,
*:before{
    box-sizing: border-box;
}
*{
    margin: 0;
}

body,
html{
    padding: 0;
    height: 100%;
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    line-height: normal;
}
body{
    margin: 0 auto;
    background: $color-body;
    min-width: 320px;
    font-size: 18px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.clear{
    clear: both;
}
.clearfix:after{
    display: table;
    content: "";
    clear: both;
}

.is-visible{
    opacity: 1;
    visibility: visible;
}
.is-hidden{
    opacity: 0;
    visibility: hidden;
}

/* footer
-----------------------------------------------------------------------------*/

.page-wr{
    min-height: 100%;
    margin-bottom: -570px;
    padding-bottom: 100px;
    &:after{
        display: block;
        content: "";
    }
}

.page-wr:after,
.footer{
    height: 570px;
}

.footer{
    background: $color-footer;
    color: $accent-txt;
    padding-top: 70px;

    .footer-col-l{
        width: 33%;
    }
    .footer-col-m{
        width: 33%;
    }
    .footer-col-r{
        width: 33%;
    }
}

.footer-title{
    font-size: 24px;
    line-height: 30px;
    color: $light-gray;
    padding-bottom: 5px;
}

.footer-nav_list{
    padding: 22px 30px 30px 0;
    border-top: 1px solid $default-theme;
    display: inline-block;
    .footer-nav_i{
        line-height: 30px;
        a:hover{
            border-bottom: 1px solid $default-theme;
        }
    }
    a{
        color: $accent-txt;
    }
}

.copyright{
    @extend .container;
    padding: 25px 0 0;
}

.widget{
    padding: 15px 0 45px;
    max-width: 400px;
    overflow: hidden;
}

.socialbox{
    text-align: center;
    font-size: 0;
    min-width: 400px;
    .socialbox_i{
        vertical-align: top;
        display: inline-block;
        text-decoration: none;
        height: 26px;
        background: url(../img/1920/images/soc.png) 0 0 no-repeat;
        margin: 0 12px;
        transition: opacity 0.2s ease-in;
        &:hover{
            opacity: 0.6;
        }
    }
    .socialbox_i.__tw{
        background-position: -5px -61px;
        width: 30px;
    }
    .socialbox_i.__fb{
        background-position: -40px -60px;
        width: 12px;
    }
    .socialbox_i.__vk{
        background-position: -55px -60px;
        width: 24px;
    }
}


.footer-address{
    float: right;
    width: 100%;
    max-width: 340px;
    padding-left: 22px;
    font-size: 24px;
    padding-bottom: 60px;
    &:after{
        display: table;
        clear: both;
        content: "";
        width: 100%;
    }
    p{
        padding-bottom: 10px;
    }
    .phone-link{
        text-decoration: none;
        color: $accent-txt;
    }
}

.work-hourst{
    float: right;
    width: 100%;
    max-width: 340px;
    padding-left: 22px;
    border-left: 1px solid $default-theme;
    &:after{
        display: table;
        clear: both;
        content: "";
        width: 100%;
    }
    .row{
        padding: 5px 0;
    }
    .col:first-child{
        max-width: 60%;
    }
    .col:nth-child(2){
        max-width: 35%;
    }
}

/* preheader
-----------------------------------------------------------------------------*/

.preheader{
    background: $color-preheader;
    color: $accent-txt;
    padding: 8px 0 10px;

    .container{
        padding: 0 50px;
    }

    .table_cell{
        text-align: right;
        &:first-child{
            text-align: left;
        }
    }
}

.socialbox-mini{
    font-size: 0;
    min-width: 75px;
    padding: 2px 0 2px 50px;
    display: inline-block;
    vertical-align: middle;
    .socialbox_i{
        vertical-align: top;
        display: inline-block;
        text-decoration: none;
        height: 16px;
        background-image: url(../img/1920/images/soc.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        margin: 0 12px;
        transition: opacity 0.2s ease-in;
        &:hover{
            opacity: 0.6;
        }
    }
    .socialbox_i.__tw{
        background-position: 0 0;
        width: 20px;
    }
    .socialbox_i.__fb{
        background-position: -25px 0;
        width: 8px;
    }
    .socialbox_i.__vk{
        background-position: -36px 0;
        width: 11px;
    }
}

.head-address{
    vertical-align: middle;
    display: inline-block;
    padding-left: 50px;
}

/* header
-----------------------------------------------------------------------------*/
.header{
    padding: 0 50px;
    min-height: 110px;
}

.logotype{
    max-width: 140px;
    margin: 10px 0;
}

.head-phone{
    display: inline-block;
    padding-top: 4px;
    font-size: 24px;
    a{
        color: $primary-txt;
    }
}

.main-nav{
    display: inline-table;
    height: 100%;
}
.main-nav_list{
    display: table-row;
    li{
        display: table-cell;
        vertical-align: middle;
        a{
            padding: 5px 15px;
            font-size: 16px;
            text-transform: uppercase;
            color: $primary-txt;
        }
    }
    li:hover,
    li.__active{
        background: $default-theme;
        a{
            color: #ffffff;
        }
    }
}



/* main slider
-----------------------------------------------------------------------------*/

.main-slider{
    margin-bottom: 90px;
    .col.__captions{
        width: 29.6875%;
        overflow: hidden;
        background: $default-theme;
        vertical-align: middle;
        color: $accent-txt;
    }
    .col.__slider{
        width: 70.3125%;
    }
}

.no-js .bx-slider{
    &:after{
        content: "";
        display: table;
        clear: both;
    }
    li:not(:first-child){
        display: none;
    }
    img{
        max-width: 100%;
    }
}

.bx-captions{
    overflow: hidden;
    position: relative;
    text-align: center;
    height: 100%;
    .bx-captions_i{
        display: table;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        background: $default-theme;
        position: absolute;
        top: 0;
        left: 0;
    }
    .bx-captions_row{
        display: table-row;
    }
    .bx-captions_col{
        display: table-cell;
        vertical-align: middle;
    }
    .txt-section-1{
        padding: 45px 80px 30px;
        position: relative;
        font-size: 48px;
        line-height: 1.2;
        &:after, &:before{
            content: "";
            width: 270px;
            height: 5px;
            display: block;
            background: #fff;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
        }
        &:before{
            top: 0;
        }
        &:after{
            bottom: 0;
        }
    }
    .sale-txt{
        font-size: 90px;
        line-height: 1.2;
        padding: 15px 0;
    }
    .txt-section-2{
        font-size: 24px;
        padding: 25px 0 0;
        p{
            padding-bottom: 12px;
        }
    }
    .caption-prim{
        font-size: 18px;
    }
}


/* guest-card
-----------------------------------------------------------------------------*/
.guest-card{
    border: 1px solid #939393;
    background: url(../img/1920/images/visit_right.png) no-repeat 100% 0,
                url(../img/1920/images/visit_left.png) no-repeat 0 100%;
    height: 408px;
    padding: 65px 28px;
    font-size: 48px;
    line-height: 1.1;

    .btn-colored{
        margin: 60px 0 0 105px;
    }
}

/* slider cards
-----------------------------------------------------------------------------*/
.slider-cards{
    .bx-wrapper .bx-pager{
        bottom: -10px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a{
        border-color: #000!important;
        width: 28px;
        height: 7px;
        margin: 0 2px;
    }
    .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active{
        background: #000!important;
    }


    .bx-wrapper .bx-controls-direction a{
        top: 8%;
        width: 49px;
        height: 49px;
    }
    .bx-wrapper .bx-prev{
        left: auto;
        right: 67px;
    }
    .bx-wrapper .bx-next{
        right: 20px;
    }
    .bx-wrapper .bx-controls-direction a:hover{
        background: #fff!important;
        border-color: #fff!important;
    }
    .bx-wrapper .bx-prev:hover:after{
        background-position: 0 -120px!important;
    }
    .bx-wrapper .bx-next:hover:after{
        background-position: -27px -120px!important;
    }
} 
.club-card{
    position: relative;
    background: $default-theme;
    height: 432px;
    border-bottom: 30px solid #fff;
    .fluid-img{
        display: block;
        position: absolute;
        right: 5px;
        top: 5px;
    }
    .club-card_txt{
        position: relative;
        z-index: 1;
        padding: 65px 28px 60px;
        height: 100%;
        .btn-default{
            margin: 48px 0 0 100px;
        }
    }
    .club-card_t{
        font-size: 30px;
        line-height: 1.5;
        span{
            font-size: 48px;
            color: #fff;
        }
    }

    .all-cards{
        display: inline-block;
        position: absolute;
        left: 55px;
        bottom: 30px;
        color: $primary-txt;
        text-transform: lowercase;
        padding-right: 20px;
        z-index: 3;
        &:after{
            content: "";
            position: absolute;
            right: 0;
            top: 7px;
            display: block;
            width: 10px;
            height: 10px;
            background: url(../img/1920/images/arrows_control.png) no-repeat 0 -148px;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}