/* blue theme
-----------------------------------------------------------------------------*/
.blue-theme{
	// footer
	.footer-nav_list{
		border-color: $blue-theme;
        a:hover{
            border-bottom: 1px solid $blue-theme;
        }
	}
	.work-hourst{
		border-color: $blue-theme;
	}
	.socialbox{
		.socialbox_i.__tw{background-position: -5px -149px;}
		.socialbox_i.__fb{background-position: -40px -149px;}
		.socialbox_i.__vk{background-position: -55px -149px;}
	}

	// buttons
	.btn-hold-card{
		&:before{
			background-position: -88px -50px;
		}
	}
	.btn-colored{
		border-color: $blue-theme;
		span{
			background: $blue-theme;
		}
		&:hover{
			background: $blue-theme;
		}
	}

	//main nav
	.main-nav_list{
		li:hover, li.__active{
			background: $blue-theme;
		}
	}

	
	.main-slider{
	    .col.__captions{
	        background: $blue-theme;
	    }
	}

	//bxslider
	.bx-wrapper .bx-prev:hover:after {
		background-position: 0 -48px;
	}
	.bx-wrapper .bx-next:hover:after {
		background-position: -27px -48px;
	}
	.bx-wrapper .bx-controls-direction a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a{
		border-color: $blue-theme;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: $blue-theme;
	}

	//slider cards
	.club-card{
	    background: $blue-theme;
	}


//close .blue-theme
}

@media only screen and (max-width: 900px){

.blue-theme{
    .main-nav{
        background: $blue-theme;
    }
    .main-nav_list{
        background: $blue-theme;
        color: #fff;
    }
}

//close media
}