/* inline buttons
-----------------------------------------------------------------------------*/
.btn-inline{
    background: none;
    padding: 0;
    border: medium none;
    text-decoration: underline;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
    &:before,
    &:after{
        content: "";
        display: inline-block;
        vertical-align: top;
    }
}

.btn-hold-card{
    color: $accent-txt;
    &:before{
        width: 30px;
        height: 22px;
        background: url(../img/1920/images/elements.png) no-repeat -88px -2px;
        margin-right: 5px;
    }
}

.btn-schedule{
    position: relative;
    background: none;
    padding: 0;
    border: medium none;
    display: inline-block;
    text-decoration: none;
    padding-left: 45px;
    line-height: 20px;
    &:hover{
        text-decoration: underline;
    }
    &:before{
        content: "";
        background-image: url(../img/1920/images/elements.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        width: 20px;
        height: 20px;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
    }
}

.btn-mobile-menu{
    z-index: 10;
    display: none;
    padding: 0;
    border: 0;
    width: 44px;
    height: 44px;
    background: $default-theme;
    position: absolute;
    right: 0px;
    top: 20px;
    cursor: pointer;
    outline: none;
    &:after{
        content: "";
        display: block;
        position: absolute;    
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 20px;
        height: 4px;
        background: #fff;    
    }
    &:before{
        content: "";
        display: block;
        position: absolute;
        height: 16px;
        width: 20px;
        border-top: 4px solid #fff;
        border-bottom: 4px solid #fff;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
    }
}

.btn-default{
    background: none;
    display: inline-block;
    cursor: pointer;
    color: $primary-txt;
    font-size: 18px;
    padding: 5px;
    border: 2px solid #fff;
    line-height: 1.1;
    span{
        background: #fff;
        display: inline-block;
        padding: 5px 25px;
    }
    &:hover{
        background: #fff;
    }
}

.read-more{
    margin: 25px 0 0;
}

.btn-colored{
    background: none;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border: 2px solid $default-theme;
    line-height: 1.1;
    span{
        background: $default-theme;
        display: inline-block;
        padding: 5px 25px;
    }
    &:hover{
        background: $default-theme;
    }
}