.container{
    max-width: 1680px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

/* float grid
-----------------------------------------------------------------------------*/
.row{
	position: relative;
    &:after{
        content: "";
        display: table;
        width: 100%;
        clear: both;
    }
}
.col{
    float: left;
}
.col.__m{
    width: 50%;
    padding-left: 9px;
    &:first-child{
        padding-left: 0;
        padding-right: 9px;
    }
}
.col.__s{
    width: 33%;
}
.col.__xs{
    width: 25%;
}
.col.__xxs{
    width: 20%;
}
.col.__single{
    float: none;
    margin: 0 auto;
    clear: both;
}
.fluid-col{
	clear: both;
	position: absolute;
}
.fluid-col.__bottom{
	bottom: 0;
	left: 0;
}

/* inline grid
-----------------------------------------------------------------------------*/
.row.__row-inline{
    font-size: 0;
    &:after{
        display: none;
    }
    .col{
        float: none;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
    }
}

/* table grid
-----------------------------------------------------------------------------*/
.table{
    display: table;
    width: 100%;
    .table_row{
        display: table-row;
    }
    .table_cell{
        display: table-cell;
        vertical-align: middle;
    }
    .__cell-logo{
        width: 168px;
    }
    .__cell-nav{
        height: 110px;
        text-align: right;
    }

}

/*---------------------------------------------------------------------------*/
.to-right{
    float: right;
}
.to-left{
    float: left;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}

.responsive-img{
    max-width: 100%;
    width: 100%;
}
