/* red theme
-----------------------------------------------------------------------------*/
.red-theme{
	// footer
	.footer-nav_list{
		border-color: $red-theme;
        a:hover{
            border-bottom: 1px solid $red-theme;
        }
	}
	.work-hourst{
		border-color: $red-theme;
	}
	.socialbox{
		.socialbox_i.__tw{background-position: -5px -182px;}
		.socialbox_i.__fb{background-position: -40px -182px;}
		.socialbox_i.__vk{background-position: -55px -182px;}
	}

	// buttons
	.btn-hold-card{
		&:before{
			background-position: -88px -72px;
		}
	}
	.btn-colored{
		border-color: $red-theme;
		span{
			background: $red-theme;
		}
		&:hover{
			background: $red-theme;
		}
	}


	//main nav
	.main-nav_list{
		li:hover, li.__active{
			background: $red-theme;
		}
	}
	.main-slider{
	    .col.__captions{
	        background: $red-theme;
	    }
	}
	
	//bxslider
	.bx-wrapper .bx-prev:hover:after {
		background-position: 0 -72px;
	}
	.bx-wrapper .bx-next:hover:after {
		background-position: -27px -72px;
	}
	.bx-wrapper .bx-controls-direction a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a{
		border-color: $red-theme;
	}
	.bx-wrapper .bx-pager.bx-default-pager a:hover,
	.bx-wrapper .bx-pager.bx-default-pager a.active {
		background: $red-theme;
	}

	//slider cards
	.club-card{
	    background: $red-theme;
	}

// close .red-theme
}

@media only screen and (max-width: 900px){

.red-theme{
    .main-nav{
        background: $red-theme;
    }
    .main-nav_list{
        background: $red-theme;
        color: #fff;
    }
}

//close media
}